td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.orders {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}